* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin-left: 10px;
}

body {
  background: url('https://cdn.jsdelivr.net/gh/kgolid/sonant@1574a62/bg.jpeg') no-repeat
    center center fixed;
  background-size: cover;
}

.card {
  text-align: left;
  padding: 20px;
  margin: 50px 10px;
  background: #fff;
  display: inline-block;
  min-width: 700px;
}

.header {
  height: 150px;
  border: 1px solid black;
}

.header_title {
  display: inline-block;
  width: 200px;
  height: 100%;
  padding: 50px 0px;
  border-right: 1px solid black;
  text-align: center;
}

.header_control {
  display: inline-block;
  text-align: center;
  width: calc(100% - 205px);
}

.content,
.dashboard,
.legend {
  border: 1px solid black;
  border-top: none;
  padding: 25px;
}

.dashboard_sub {
  text-align: left;
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.legend {
  padding-top: 35px;
}

.legend p {
  margin-bottom: 10px;
  font-size: 10pt;
  font-family: Helvetica, Arial, sans-serif;
}

.legend p strong {
  display: inline-block;
  width: 160px;
}

#board {
  width: 644px;
  height: 300px;
  border: 1px solid black;
}

button,
select {
  width: 90px;
  height: 30px;
  border: none;
  border: 1px solid #000;
  border-radius: 0;
}

select {
  width: 50px;
}
